.header {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(113, 122, 134, 0.2);
}
.header__wrap {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__info {
  width: 95px;
  margin-right: 20px;
  margin-bottom: 3px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.01em;
  line-height: 0.95;
  color: #3D3F5B;
}
.header__link {
  display: block;
  margin-right: 30px;
}
.header__link-tel {
  display: block;
  text-decoration: none;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.01em;
  color: #3D3F5B;
}
.header__img-logo {
  display: block;
}
.header__btn {
  display: block;
  width: 30px;
  height: 22px;
  margin-right: 10px;
  background: url("../img/icons/burger.svg") center no-repeat;
  cursor: pointer;
  border: none;
}