.masters {
  width: 100%;
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
  background: #F9FAFC;
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
.masters__img {
  display: block;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    margin-bottom: 10px;
  }
}
.masters__wrap {
  
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 30px 30px;
  }
}
.masters__title {
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 20px 0 0 10px;
  line-height: 1.04;
  color: #717a86;
  
  @media (min-width: 768px) {
    width: 320px;
    font-size: 28px;
    margin-bottom: 10px;
    padding-left: 0;
  }
}
.masters__info {
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 25px;
  padding-left: 10px;
  line-height: 1.17;
  color: #717a86;
  
  @media (min-width: 768px) {
    width: 380px;
    font-size: 16px;
    padding-left: 0;
  }
}
.masters__feedback {
  display: block;
  width: 250px;
  height: 50px;
  margin: 0 auto 30px;
  text-align: center;
  padding: 14px 34px;
  background: #7c879d;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
  &:hover {
    background-color: #717a86;
    transition: background-color 0.5s linear;
  }
  
  @media (min-width: 768px) {
    margin: 0;
  }
}
.masters__inner-wrap {
  @media (min-width: 768px) {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
.masters__subinner-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.masters__text {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 25px;
  padding-left: 10px;
  line-height: 1.17;
  color: #717a86;
}