.services {
  width: 100%;
  max-width: 320px;
  padding: 20px 0;
  font-weight: 400;
  line-height: 1.39;
  color: #717a86;
  background: #e8ecf4;
  
  @media (min-width: 768px) {
    max-width: 768px;
  }
  @media (min-width: 1280px) {
    max-width: 1280px;
  }
}
.services__title {
  padding-left: 20px;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  
  @media (min-width: 768px) {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    font-size: 28px;
  }
}
.services__wrap {
  @media (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.services__img {
  display: block;
  padding: 10px;
  margin: 0 auto;
  
  @media (min-width: 768px) {
    width: 370px;
  }
  @media (min-width: 1280px) {
    width: 540px;
  }
}
.services__subtitle {
  padding: 10px 0 10px 20px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  
    @media (min-width: 768px) {
    width: 370px;
  }
  @media (min-width: 1280px) {
    width: 450px;
  }
}
.services__info {
  margin-bottom: 20px;
  padding: 0 20px;
  font-size: 14px;
  
    @media (min-width: 768px) {
    width: 370px;
  }
  @media (min-width: 1280px) {
    width: 450px;
  }
}