.services {
  width: 100%;
  max-width: 320px;
  padding-top: 20px;
  font-weight: 400;
  line-height: 1.39;
  color: #717a86;
}
.services__title {
  padding-left: 20px;
  font-size: 22px;
  font-style: normal;
}
.services__img {
  display: block;
  padding: 10px;
  margin: 0 auto;
}
.services__subtitle {
  padding: 10px 0 10px 20px;
  font-size: 18px;
  font-style: normal;
}
.services__info {
  margin-bottom: 20px;
  padding-left: 20px;
  font-size: 14px;
}